.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    height: 30px;
  }
  .navbar h1{
      color:antiquewhite;
      font-family:'Times New Roman', Times, serif;
      font-size:xx-large;
  }
  .navbar-icon img {
    cursor: pointer;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  